extends layout

block css
  link(rel='stylesheet', type='text/css', href='/libs/chosen/chosen.css')
block js
  script(src='/libs/ueditor/ueditor.config.js')
  script(src='/libs/ueditor/ueditor.all.min.js')
  script(src='/libs/chosen/chosen.jquery.min.js')
  script.
    var width = $('#shape').width();
    var ue = new UE.ui.Editor({initialFrameWidth: width * 0.75, initialFrameHeight: 300});
    ue.render('editor');
  script(src='/javascripts/topic_create.js')

block content
  | #{from_tag}
  ul.body-nav
    li
      a(href='/')
        i.icon-home
        | #{locals.config.site_name}
    if (typeof(from_tag) !== 'undefined')
      li
        a(href='#{from_tag}')
          | #{from_tag.name}
    li.now
      | 主题创建
  .organ.topic-create.nav-shadow
    .organ-head
      | 主题创建
    .organ-body
      form.fm(method='post')
        .fm-row
          .fm-item.fm-required
            lable.fm-label(for='fm-node-name')
              | 标签
            select#fm-node_name.fm-text(data-placeholder='请选择一个标签', name='tag_name', size='30')
              for tag in tags
                option(selected='#{tag.name}')
                  | #{tag.name}
        .fm-row
          .fm-item.fm-required
            lable.fm-label(for='fm-title')
              | 标题
            input#fm-title.fm-text(maxlength='100', name='title', size='30', type='text')
        .status-msg
        .fm-row
          .fm-item.fm-required
            label.fm-label(for='fm-content')
              | 内容
            script#editor(type='text/plain', name='content')
        .fm-action
          button.btn(type='submit')
            | 创建
    form(style="display: none;", method='post', action='/image/upload', enctype='multipart/form-data', method='post')
      input#pic-select(type='file', name='image', data-url='/image/upload')
    form(style="display: none;", method='post', action='/upload/music', enctype='multipart/form-data', method='post')
      input#music-select(type='file', name='music', data-url='/upload/music')

